[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altair = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
selenium = "*"
setuptools = "*"
statsmodels = "*"
streamlit = "*"
undetected-chromedriver = "*"
scikit-learn = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
